body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  form {
    display: inline-block;
    margin-top: 20px;
  }
  
  form div {
    margin-bottom: 10px;
  }
  
  input {
    padding: 10px;
    margin-left: 10px;
  }
  
  button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #357ae8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #357ae8;
  }
  
  #calendar {
    margin: 20px auto;
  }
  